@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'Montserrat Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat Semibold';
    src: url('../fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

:root {
    --primary-color: #09242A;
    --secondary-color: #03FFD9;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat Regular';
    color: var(--primary-color);
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    padding-top: 120px;
}

section .title .small-text {
    color: var(--secondary-color);
    font-family: 'Montserrat Semibold';
}

section .title .big-text {
    font-size: 36px;
    color: var(--primary-color);
    font-family: 'Montserrat Bold';
    margin-top: -15px;
}

.btn {
    border: 1px solid var(--primary-color);
    outline: none;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Montserrat Medium';
    transition: all .3s ease;
}

.btn:hover {
    color: var(--primary-color);
    background: none;
}

/* Navbar  */
nav.navbar {
    width: 100%;
    z-index: 999;
    transition: all .3s ease;
}

nav.navbar.scroll {
    background-color: rgba(9, 36, 42, 0.85);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    backdrop-filter: blur(15px);
    color: #fff;
}

nav.navbar.scroll .container {
    border-bottom: none;
}

nav.navbar .container {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding-bottom: 20px;
}

nav.navbar .navbar-brand {
    font-family: 'Montserrat Semibold';
}

nav.navbar .navbar-toggler:focus {
    outline: rgb(255, 255, 255) solid 4px;
    opacity: 0.8;
}

nav.navbar .nav-link {
    margin-right: 24px;
}

nav.navbar .navbar-brand,
nav.navbar .nav-link {
    color: #fff;
    transition: all .3s ease;
}

nav.navbar .nav-link:hover {
    color: var(--secondary-color);
}

nav.navbar .nav-link::after {
    content: "";
    width: 0;
    transition: all .3s ease;
}

nav.navbar .nav-link:hover::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

/* Header */

header {
    background: var(--primary-color);
    padding-top: 120px;
    padding-bottom: 30px;
}

header .container .left-panel {
    color: #fff;
    margin-right: 50px;
    margin-top: 50px;
}

header .container .big-text {
    font-size: 60px;
    font-family: 'Montserrat Bold';
}

header .container .small-text {
    font-family: 'Montserrat Light';
}

header .container form {
    background-color: #fff;
    padding: 10px 10px 10px 30px;
    width: 480px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 30px;
}

header .container form .input-email {
    border: none;
    outline: none;
}

header .container form .btn-get-started {
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #01dbba;
    color: #fff;
    transition: .3s ease;
}

header .container form .btn-get-started:hover {
    opacity: .75;
}

header .container form .btn-get-started:focus {
    outline: #7ff3e2 solid 4px;
}

header .container .brands-group {
    margin-top: 70px;
    color: rgba(255, 255, 255, .5);
    font-family: 'Montserrat Light';
    text-align: center;
}

header .container .brands-group img {
    margin: auto;
}

/* Service */
#service .title {
    text-align: center;
}

#service .services-group {
    margin-top: 100px;
    text-align: center;
}

#service .services-group .col-lg-4 .card {
    padding: 10px 50px;
    border-right: 1px solid rgba(0, 0, 0, .2) !important;
}

#service .services-group .col-lg-4 .card .service-item h4 {
    font-family: 'Montserrat Semibold';
}

#service .services-group .col-lg-4 .card .service-item p {
    font-family: 'Montserrat Light';
}

/* About Us */

#about-us .container .left-panel {
    margin-right: 70px;
}

#about-us .container .right-panel {
    margin-right: 100px;
}

#about-us .container .title {
    margin-bottom: 30px;
}

#about-us .tabs-group .nav-link {
    font-family: 'Montserrat medium';
    color: var(--primary-color);
}

#about-us .tabs-group .nav-link.active {
    background-color: var(--primary-color);
    color: #fff;
}

#about-us .data-group {
    margin: 50px 0;
}

#about-us .data-group .item {
    margin-right: 50px;
    text-align: center;
}

#about-us .data-group .item .count-text {
    font-size: 2em;
    font-family: 'Montserrat Semibold';
}

#about-us .data-group .item .count-text::after {
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 20px;
    display: block;
    margin: 7px auto;
    background-color: var(--secondary-color);
}

#about-us .data-group .item .name {
    font-family: 'Montserrat Medium';
}

/* History */
#history .container .d-flex {
    margin-top: 50px;
}

#history .container .left-panel .ceo-name {
    text-align: center;
    margin-top: 20px;
}

#history .container .left-panel .ceo-name h3 {
    font-family: 'Montserrat Semibold';
}

#history .container .left-panel .ceo-name p {
    font-size: 20px;
    font-family: 'Montserrat Light';
    margin-top: -5px;
}

#history .container .right-panel {
    margin-left: 50px;
}

#history .container .right-panel .timeline {
    list-style-type: none;
    position: relative;
}

#history .container .right-panel .timeline .timeline-item h6 {
    font-family: 'Montserrat Bold';
}

#history .container .right-panel .timeline::before {
    content: "";
    background-color: var(--primary-color);
    opacity: .1;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
}

#history .container .right-panel .timeline li {
    margin: 40px 0;
    padding-left: 15px;
}

#history .container .right-panel .timeline li::before {
    content: "";
    background-color: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    left: 1px;
    width: 20px;
    height: 20px;

}

/* Achievement */
#achievement .left-panel .achievement-title {
    font-size: 1.3em;
    font-family: 'Montserrat Semibold';
}

#achievement .left-panel .description {
    opacity: 0.7;
    font-size: 0.9em;
}

/* Portfolio */

#portfolio .container .row .card {
    border-radius: 10px;
    padding-bottom: 20px;
    transition: all .3s ease;
}

#portfolio .container .row .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

#portfolio .container .row .card .card-text {
    font-size: 1.5em;
    font-family: 'Montserrat Semibold';
}

/* Team */
#team .container .teams-group .team-item:nth-child(2) {
    margin-top: -25px;
}

#team .container .card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.06);
    padding: 15px;
    transition: all .3s ease;
}

#team .container .card:hover {
    transform: translateY(-10px);
}

#team .container .card .card-body .team-name {
    font-family: 'Montserrat Semibold';
    font-size: 1.2em;
}

#team .container .card .card-body .team-role {
    font-size: 0.9em;
    margin-top: -5px;
    font-family: 'Montserrat Light';
}

/* Gallery */
#gallery .galleries-group .gallery-item {
    transition: all .3s ease;
}

#gallery .galleries-group .gallery-item:hover {
    opacity: 0.8;
}

#gallery .galleries-group .gallery-item img {
    width: 400px;
    border-radius: 10px;
}

/* Testimonial */
#testimonial .container .swiper {
    padding: 30px;
}

#testimonial .container .swiper .swiper-pagination {
    position: relative;
    top: 30px;
}

#testimonial .container .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
}

#testimonial .container .swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

#testimonial .container .swiper .swiper-slide .card {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

#testimonial .container .swiper .swiper-slide .card .card-body > img {
    width: 30px;
    opacity: .8;
}

#testimonial .container .swiper .swiper-slide .card .card-body .card-text {
    margin: 15px 0;
    font-size: 0.83em;
    font-family: 'Montserrat Light';
}

#testimonial .container .swiper .swiper-slide .card .card-body .profile-group h6 {
    font-family: 'Montserrat Bold';
}

#testimonial .container .swiper .swiper-slide .card .card-body .profile-group p {
    margin-top: -10px;
    font-size: 0.9em;
}

/* Contact */
#contact .container {
    background-color: var(--primary-color);
    color: #fff;
    padding: 50px 60px;
    border-radius: 10px;
}

#contact .title {
    margin-right: 120px;
}

#contact .title .big-text {
    color: #fff;
}

#contact .title .description-text {
    font-family: 'Montserrat Light';
    opacity: 0.7;
    font-size: 0.9em;
}

#contact .right-panel {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

#contact .right-panel > h2 {
    color: var(--primary-color);
    font-family: 'Montserrat Bold';
    margin-bottom: 20px;
}

#contact .right-panel .form-control:focus {
    outline: rgba(9, 36, 42, 0.1) solid 3px;
}

#contact .right-panel .btn-send {
    border: none;
    width: 100%;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: 12px;
    color: #fff;
    border-radius: 10px;
    font-family: 'Montserrat Medium';
    transition: all .3s ease;
}

#contact .right-panel .btn-send:hover {
    background: none;
    color: var(--primary-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    margin-top: 120px;
    padding: 50px;
    color: #fff;
}

footer .left-panel .description-text {
    margin: 20px 0;
    font-size: 0.9em;
    color: rgba(255,255,255,0.6);
    font-family: 'Montserrat Light';
}

footer .right-panel .nav-group {
    margin-right: 20px;
}

footer .right-panel .nav-group h5 {
    margin-left: 32px;
    opacity: 0.5;
    font-size: 0.95em;
}

footer .right-panel .nav-group .nav-item .nav-link {
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Light';
    font-size: .9em;
    margin-top: 12px;
    transition: all .3s ease;
}

footer .right-panel .nav-group .nav-item .nav-link:hover {
    color: var(--secondary-color);
}

footer .socials-group {
    margin: 30px 0;
}

footer .socials-group img {
    width: 20px;
    margin-right: 30px;
    transition: all .3s ease;
}

footer .socials-group img:hover {
    transform: translateY(-5px);
}

footer .copyright-group {
    font-size: 0.9em;
}